
bin
obj
Properties/PublishProfiles/RemotePuzzle - Web Deploy.pubxml
obj/Debug/netcoreapp3.1/Razor/Views/Game/ActiveGame.cshtml.g.cs
obj/Debug/netcoreapp3.1/CollaborativePuzzle.csproj.FileListAbsolute.txt
obj/project.assets.json
/CollaborativePuzzle.csproj.user
/Properties/ServiceDependencies/RemotePuzzle - Web Deploy/profile.arm.json
/Properties/PublishProfiles/RemotePuzzle - Web Deploy.pubxml.user
