
@{
    ViewData["Title"] = "New Game";
}

<h1>New Game</h1>

<form asp-action="Create" asp-controller="Game">

    <h3>Picture</h3>
    <h3>Pieces</h3>
    <h3>Name</h3>
    <h3>Players</h3>
    <h3>Restrictions</h3>

    <input type="submit" value="Create" />
</form>
