
@{
    ViewData["Title"] = "New Game";
}

<h1>New Game</h1>

<form asp-action="Create" asp-controller="Game">

    <h3>Picture</h3>
    <h3>Pieces</h3>
    <h3>Name</h3>
    <h3>Players</h3>
    <h3>Restrictions</h3>

    <div>
        <label>Title</label>
        <input type="text" name="title" autocomplete="off" value="Fruity Pebbles"/>
    </div>
    <div>
        <label>Image Path</label>
        <input type="text" name="imagePath" autocomplete="off" value="~/Images/fruity-pebbles.jpg" />
    </div>
    <input type="submit" value="Create" />
</form>
