
@{
    ViewData["Title"] = "How To Play";
}

<h1>Gameplay</h1>

<ul>
    <li>Puzzle pieces are split up and randomly scattered around the canvas.</li>
    <li>The canvas is larger than the finished puzzle.</li>
    <li>Click (or touch) and drag a piece to move it.</li>
    <li>Drop a piece close enough to its neighboring piece and it will snap into place.</li>
    <li>Snapped pieces will all move as one piece.</li>
    <li>When another player is moving a piece, it will be highlighted in their player color.</li>
    <li>Just like a real puzzle,it's over after all the pieces are put together.</li>
</ul>