@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Create a puzzle from images or videos that you upload or find online.</p>
    <p>Send the link to your friends to play together.</p>
    <p>@Html.ActionLink("Start a New Game", "New", "Game")</p>
</div>
